<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AutomationExercise Test Suite" verbose="1" parallel="false">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    
    <test name="AutomationExerciseTests">
        <classes>
            <class name="tests.RegisterUser_TC1"/>
            
            <class name="tests.LoginUser_TC2"/>
            
            <class name="tests.LoginUserInvalid_TC3"/>
            
            <class name="tests.LogoutUser_TC4"/>
            
            <class name="tests.RegisterUserExistingEmail_TC5"/>
            
            <class name="tests.ContactUs_TC6"/>
            
            <class name="tests.TestCases_TC7"/>
            
            <class name="tests.VerifyProducts_TC8"/>
            
            <class name="tests.SearchProduct_TC9"/>
            
            <class name="tests.VerifySubscriptionHome_TC10"/>
            
            <class name="tests.VerifySubscriptionCart_TC11"/>
            
            <class name="tests.AddProducts_TC12"/>
            
            <class name="tests.VerifyProductQuantity_TC13"/>
            
            <class name="tests.RegisterWhileCheckout_TC14"/>
            
            <class name="tests.RegisterBeforeCheckout_TC15"/>
            
            <class name="tests.LoginBeforeCheckout_TC16"/>
            
            <class name="tests.RemoveProductsFromCart_TC17"/>
            
            <class name="tests.ViewCategoryProducts_TC18"/>
            
            <class name="tests.ViewBrandProducts_TC19"/>
            
            <class name="tests.SearchProductsVerifyCartAfterLogin_TC20"/>
            
            <class name="tests.AddReviewOnProduct_TC21"/>
            
            <class name="tests.AddToCartFromRecommended_TC22"/>
            
            <class name="tests.VerifyAddressDetailsCheckout_TC23"/>
            
            <class name="tests.DownloadInvoiceAfterPurchase_TC24"/>
            
            <class name="tests.VerifyScrollUpDown_TC25"/>
            
            <class name="tests.ScrollUpWithoutArrow_TC26"/>
            
        </classes>
    </test>

</suite>
