<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AutomationExercise Test Suite" verbose="1" parallel="false">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    
    <test name="AutomationExerciseTests">
        <classes>
            <!-- Test Case 1: Register User -->
            <class name="tests.RegisterUser_TC1"/>

            <!-- Test Case 2: Login with correct credentials -->
            <class name="tests.LoginUser_TC2"/>

            <!-- Test Case 3: Login with incorrect credentials -->
            <class name="tests.LoginUserInvalid_TC3"/>
            
            <!-- Test Case 4: Logout User -->
            <class name="tests.LogoutUser_TC4"/>
        </classes>
    </test>

</suite>
